body {
  color: var(--textColor);
  background-color: var(--bg);
}

body.light {
  --textColor: black;
  --bq: rgba(0, 0, 0, 0.7);
  --bg: white;
}

body.dark {
  --textColor: white;
  --bq: rgba(255, 255, 255, 0.7);
  --bg: #181818;
}

blockquote {
  color: var(--bq) !important;
  border-left: 0.32813rem solid var(--textColor);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--textColor);
}

a {
  box-shadow: 0 0 0 0;
  color: #8a75f5;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
